@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&display=swap');


body{
    background-color: rgb(48, 43, 119);
    font-size: 22px;
    font-family: Raleway, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    font-size: xx-large;
    font: Raleway;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #7C9885;
    color: rgb(85, 51, 51);
}
main section {
    text-align: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
footer {
    background-color: goldenrod;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: rgb(23, 16, 47);
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
    color: #033F63
}

footer .social img {
    padding-top: 15px;
}
h2 {
    margin: 0;
}
h4 {
    color: rgb(121, 195, 121);
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid rgb(135, 20, 20);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #811041;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    margin-top: 200px;
    width: 100%;
    box-shadow: 5px 5px 10px #0c005b;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
}
.msg {
    margin-top: 200px;
    grid-column: 6/10;
    grid-row: 6/7;
}
.msg h2 {
    color: white;
    font-family: Raleway, Arial, sans-serif;

}
.msg p {
    color: white;
    
    font-size: large;
    padding-bottom: 15px;
}
.home-title {
    color: #61e786;
    font-family: Raleway, Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    
}
.book, .join {
    background-color:#7C9885;
    color: #28666E;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: goldenrod;
    color: white;
}
.msg {
    background-color:  rgb(56, 101, 131);
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #3ef307;
}
.button-box {
    text-align: center;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 {
    text-align: center;
    color: #508fb7;
}
#hero-img {
    width: 100%;
}
#hero-msg h4 {
    text-align: center;
    color: white;
    font-size: xx-large;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#background {
    height: 725px;
    background-color: rgb(116, 52, 116);
    margin-top: 200px;
}
.card-wr{
    width: 50%;
    
}
.main-p{
    color: white;
    border: 10px solid black;
    box-shadow: 7px 7px 7px blue;
}
/*page 2*/

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/*CSS for contact us page*/
form {
    
    margin: 0 auto;
    width: 300px;
    
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #61e786;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    
    font: 1em sans-serif;
  
    
    width: 300px;
    box-sizing: border-box;
  
    
    border: 4px solid #999;
  }
  
  input:focus,
  textarea:focus {
    
    border-color: #000;
  }
  
  textarea {
    
    vertical-align: top;
  
    
    height: 5em;
  }
  
  .button {
    
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    
    margin-left: 0.5em;
  }
            