body{
    background-color: gray;
}
/* Presidnet Nelson's image */
img{
    position: center; 
    right: 100px;
    width: 200px;
    
}

body{
    text-align: center;
}

h1{
    color: rgb(11, 10, 10);
}
h2{
 color: white;   
}
p1{
    color: white;
    font-size: larger;
}
ol{
    list-style: decimal;
    text-align: left;
    font-size: larger;
}
q{
    margin: auto;
    color: white;
    width: 100%;
    font-style: italic;
    
}